:root {
  /*
  Add variables for different colors.
  */
  --light: hsl(0, 0%, 100%);
  --dark: hsl(244, 94%, 21%);

  --MainColor: hsl(239, 60%, 50%);
  --Accent: hsl(5, 80%, 60%);
}

/*
  DarkestBlue: rgb(10,3,103)
  MidBlue: rgb(65,68,222)
  PaleBlue: rgb(128,150,242)
  PalerBlue: rgb(152,178,244)
  PalestBlue: rgb(192,206,249)
  AccentDrk: rgb(216,102,92)
  AccentMid: rgb(237,125,111)
*/
